*¨{
    margin: 0px;
    padding: 0px;
}

body{
background-color: blueviolet;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    display: grid;
    text-align: center;
}

.footerone {
    background-color: blue;
}


.footertwo {
    background-color: black;
    color: white;
}