<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>
    <h2>ADMIN USER:</h2>

    <figure class="figure-login-admin">
        <form id="datos-admin">
            <div>
                <h3>Ingrese su nombre de usuario</h3>
                <input type="text" placeholder="Name..">
            </div>

            <div>
                <h3>Ingrese su Correo Electronico</h3>
                <input type="email" placeholder="Mail..">
            </div>

            <button id="button-in">Ingresar</button>

        </form>

    </figure>

    <script src="admin.js"></script>
</body>

</html>