<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="/recipes.css">
</head>

<body>



    <div id="content-recipe">
        
        <br>

        <section class="content">

            <h2 id="tittle-recipes">RECIPES:</h2>
    
            <article class="article">
                <img src="Imagenes/Arepas.webp" width="400px">
                <h2>Arepa</h2>
                <a
                    href="https://www.recetasderechupete.com/arepas-venezolanas-con-relleno-la-reina-pepiada/8351/">Recipe</a>
                <h4>Ingredients:</h4>
                <ul>
                    <ol>300 ml. of warm water..</ol>
                    <ol>220 g. of P.A.N. or similar precooked corn flour</ol>
                    <ol>1/2 dessert spoonful of salt (4 grams)</ol>
                </ul>
            </article>

            <article class="article">
                <img src="Imagenes/Pisca Andina 1.jpg" alt="pisca-andina" width="400px" height="400px">
                <h2>PISCA ANDINA</h2>
                <a href="https://www.laylita.com/recetas/pisca-andina/">Recipe</a>
                <h4>Ingredients:</h4>
                <ul>
                    <ol>4 cups of liquid milk or 1L.</ol>
                    <ol>4 tablespoons salted butter (use butter if possible, not margarine).</ol>
                    <ol>3 scallion stalks 150 g.</ol>
                    <ol>4 medium potatoes 400 g.</ol>
                    <ol>1 coriander bouquet.</ol>
                    <ol>250 g. of white cheese, the original recipe is made with smoked white cheese.</ol>
                    <ol>4 eggs.</ol>
                    <ol>Salt to taste.</ol>

                </ul>
            </article>

            <article class="article">
                <img src="Imagenes/Panquecas.jpg" alt="panquecas" width="400px">
                <h2>PANQUECAS</h2>
                <a href="https://www.recetavenezolana.com/panquecas/">Recipe</a>
                <h4>Ingredients:</h4>
                <ul>
                    <ol>1 cup wheat flour.</ol>
                    <ol>2 eggs.</ol>
                    <ol>2 tazas de leche líquida.</ol>
                    <ol>½ cup liquid butter.</ol>
                    <ol>2 spoonfuls of sugar.</ol>
                    <ol>½ cup oil..</ol>
                    <ol>300 g of grated cheese.</ol>

                </ul>
            </article>

            <article class="article">
                <img src="Imagenes/Tequeños.webp" alt="tequeños" width="400px">
                <h2>TEQUEÑOS</h2>
                <a href="https://www.bonviveur.es/recetas/tequenos">Recipe</a>
                <h4>Ingredients:</h4>
                <ul>
                    <ol>175 g of wheat flour.</ol>
                    <ol>30 g cold butter.</ol>
                    <ol>1 egg.</ol>
                    <ol>35 ml of water.</ol>
                    <ol>1 pinch of salt.</ol>
                    <ol>200 g of white cheese type llanero (if not gouda) cut in sticks of 2 cm wide and 8 cm long</ol>
                    <ol>500 g frying oilr</ol>
                </ul>
            </article>


            <article class="article">
                <img src="Imagenes/Empanadas.jpg" alt="Empanadas" width="400px">
                <h2>EMPANADAS</h2>
                <a href="https://www.bizcochosysancochos.com/2018/01/empanadas-venezolanas-harina-maiz.html">Recipe</a>
                <h4>Ingredients:</h4>
                <ul>
                    <ol>1 1/2 cup (215 grams) precooked corn flour.</ol>
                    <ol>2 tablespoons all-purpose flour or cornstarch.</ol>
                    <ol>1/4 teaspoon salt.</ol>
                    <ol>1 1/2 cups of cold water.</ol>
                </ul>
            </article>

            <article class="article">
                <img src="Imagenes/pastelitos.jpg" alt="pasteles" width="400px">
                <h2>PASTELES</h2>
                <a href="https://www.196flavors.com/es/pastelitos-venezolanos/">Recipe</a>
                <h4>Ingredients:</h4>
                <ul>
                    <ol>500 g sifted wheat flour.</ol>
                    <ol>250 ml of water (or more).</ol>
                    <ol>1 teaspoon salt.</ol>
                    <ol>1 sachet of baking powder.</ol>
                    <ol>1 tablespoon neutral vegetable oil (or melted margarine).</ol>
                </ul>
            </article>

            <article class="article">
                <img src="Imagenes/golfeado.jpg" alt="golfeado" width="400px">
                <h2>GOLFEADOS</h2>
                <a href="https://www.recetas-venezolanas.com/recetas/reposteria/golfeados-venezolanos
                    ">Recipe</a>
                <h4>Ingredients:</h4>
                <ul>
                    <ol>1 teaspoon of yeast.</ol>
                    <ol>4 tablespoons sugar.</ol>
                    <ol>1 tablespoon butter.</ol>
                    <ol>2 tablespoons of salt</ol>
                    <ol>½ kilogram of flour.</ol>
                    <ol>2 cups of water.</ol>
                    <ol>1 Papelon.</ol>
                    <ol>Melted butter.</ol>
                    <ol>Grated cheese.</ol>
                </ul>
            </article>

            <article class="article">
                <img src="Imagenes/cachitos.webp" alt="cachitos" width="400px">
                <h2>CACHITOS</h2>
                <a href="https://www.laylita.com/recetas/cachitos-de-jamon/
                     ">Recipe</a>
                <h4>Ingredients:</h4>
                <ul>
                    <ol>4 ½ tazas de harina de trigo todo uso 500 g. </ol>
                    <ol>1 ½ cucharadita de levadura en polvo 14 g.</ol>
                    <ol>½ taza de mantequilla o ma  rgarina derretida 120 g</ol>
                    <ol>1 taza de agua tibia 240 ml, dividida en dos partes iguales</ol>
                    <ol>3 cucharadas de leche en polvo </ol>
                    <ol>½ taza de azúcar 85 g.</ol>
                    <ol>1 huevo grande</ol>
                    <ol>1 cucharadita de vainilla</ol>
                    <ol>1 cucharadita de sal.</ol>
                </ul>
            </article>

            <div id="entries-container"></div>

        </section>

        <aside>
            <h1>What are you looking for?</h1>
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Search...">
                <button id="button-search-recipe">Search</button>
            </form>
        </aside>

    </div>

    <script src="javascript.js"></script>
    <script src="recipe.js"></script>
</body>

</html>